.title {
  font-size: large;
  font-weight: bold;
}

#center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content {
  font-size: medium;
  font-weight: normal;
}